mixin dropdownGuests($title, ...items)
    div.dropdown-title=$title
    div.dropdown(class="guests")
        div.dropdown__area="Сколько гостей"
        div.dropdown__select
        ul.dropdown__items
            each item in items
                li.dropdown__items__first(class="dropdown-item")
                    div.dropdown__items__title(class="item-title")=item
                    div.dropdown__items__button-minus(class="button-minus" type="button")="-"
                    div.dropdown__items__count(class="str-count")="0"
                    div.dropdown__items__button-plus(class="button-plus" type="button")="+"
            div.dropdown__items__buttons
                div.dropdown__items__buttons__clear(type="button")="очистить"
                div.dropdown__items__buttons__save(type="button")="применить"

mixin dropdownFurniture($title, ...items)
    div.dropdown-title=$title
    div.dropdown(class="furniture")
        div.dropdown__area="Удобства номера"
        div.dropdown__select
        ul.dropdown__items
            each item in items
                li.dropdown__items__first(class="dropdown-item")
                    div.dropdown__items__title(class="item-title")=item
                    div.dropdown__items__button-minus(class="button-minus" type="button")="-"
                    div.dropdown__items__count(class="str-count")="0"
                    div.dropdown__items__button-plus(class="button-plus" type="button")="+"
            div.dropdown__items__buttons
                div.dropdown__items__buttons__clear(type="button")="очистить"
                div.dropdown__items__buttons__save(type="button")="применить"

