div.login
    span.login__title()="Войти"
    input.login__email(placeholder="Email")
    input.login__password(type=password placeholder="Пароль")
    div.login__button(type="button")="Войти"
        div.login__button__arrow
    div.login__havent-account
        label.login__havent-account__label="Нет аккаунта на Toxin?"
        div.login__havent-account__register(type="button")
            div.login__havent-account__register__text="создать"