mixin button-active({text, className=''} = {})
    div.buttons_active(class=className)=text

mixin button-bordered({text, className=''} = {})
    div.buttons_bordered
        div.buttons_bordered_body(class=className)=text

mixin icon-link-purple({text, className=''} = {})
    div.buttons_icon-link_purple(class=className)=text

mixin icon-link-dark({text, className=''} = {})
    div.buttons_icon-link_dark(class=className)=text

mixin button-go-topay({text, className=''} = {})
    div.buttons_go-to(class=className)=text
        div.buttons_go-to_icon

mixin pagination({countPages, countOnPage, countVariants, className} = {})
    div.pagination(class=className)
        div.pagination_map
            div.pagination_map_page(class='active')='1'
            div.pagination_map_page='2'
            div.pagination_map_page='3'
            div.pagination_map_page='...'
            div.pagination_map_page=countPages
            div.pagination_map_next
                div.pagination_map_next_arrow
        label.pagination_label='1 – '+countOnPage+' из '+countVariants+' вариантов аренды'


